.rowClear { 

background: rgb(176, 106, 246);
border-radius: 20px;
height: 60px;
width: 90%;
display: flex;
justify-content: center;
align-items: center;
margin-left: 25px;
color: white;
font-weight: 700;
font-size: 18px;
text-transform: uppercase;
cursor: pointer;

}

