.rowClear { 

background: #648DA4;
border-radius: 20px;
height: 80px;
width: 90%;
display: flex;
justify-content: center;
align-items: center;
margin-left: 25px;
color: white;
font-weight: 700;
font-size: 28px;
text-transform: uppercase;
cursor: pointer;

}

