.screen { 

    background:#ffffffc4; border: 2px dotted;
    border: 5px double #648da4;
    border-radius: 50px;
    width: 90%;height: auto; 
    margin-bottom: 30px;
    margin-left: 15px;
    font-size: 40px;
    font-style: italic;
    font-weight:600;
    color: #648da4;
    letter-spacing: 5px;
    text-align: right;
    align-self: center;
    padding-top: 80px;


}


