.App { 
width: 100%;
height: 100vh;
padding-top: 10px;
background: cadetblue;
font-family: 'Courier New', Courier, monospace;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;


}

.logo-container { 
  width: 100%;
  height: 150px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;



}
.pawalbi-logo { 
height: 240px;
border-radius: 180px;

}

.calculator-container { 
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color:beige;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 10px double rgb(230, 248, 93);

}

.row { 
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  
 
}